<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
>

    <bean id="FtpAddresService" class="com.hzgc.ftpserver.address.FtpAddressServiceImpl"/>

    <dubbo:service interface="com.hzgc.dubbo.address.FtpAddressService" ref="FtpAddresService" />
</beans>