<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--device 模块的接口和实现-->
    <bean id="deviceService" class="com.hzgc.hbase.device.DeviceServiceImpl"/>
    <dubbo:service interface="com.hzgc.dubbo.device.DeviceService" ref="deviceService" />

    <bean id="warnRuleService" class="com.hzgc.hbase.device.WarnRuleServiceImpl"/>
    <dubbo:service interface="com.hzgc.dubbo.device.WarnRuleService" ref="warnRuleService"/>

    <!--dynamicrepo 模块接口以及实现-->
    <bean id="capturePictureSearchService" class="com.hzgc.hbase.dynamicrepo.CapturePictureSearchServiceImpl"/>
    <dubbo:service interface="com.hzgc.dubbo.dynamicrepo.CapturePictureSearchService" ref="capturePictureSearchService" />

    <!--静态信息库的接口，以及相应的实现类-->
    <!--对象信息的处理-->
    <bean id="objectInfoHandlerImpl" class="com.hzgc.hbase.staticrepo.ObjectInfoHandlerImpl"/>
    <dubbo:service interface="com.hzgc.dubbo.staticrepo.ObjectInfoHandler" ref="objectInfoHandlerImpl"/>

    <!--对象搜索记录的处理-->
    <bean id="searchRecordHandlerImpl" class="com.hzgc.hbase.staticrepo.SearchRecordHandlerImpl"/>
    <dubbo:service interface="com.hzgc.dubbo.staticrepo.SearchRecordHandler" ref="searchRecordHandlerImpl" />

</beans>
